<div class="row">
  <div class="col-md-4"></div>
  <div class="col-md-4">
    <h3>ToDO List</h3>
    <div class="outer-div">
      <div class="row">
        <div class="col-md-4">
          <label>Name</label>
        </div>
        <div class="col-md-8">
          <input type="text" class="form-control">
        </div>
      </div>

      <div class="row">
        <div class="col-md-12">
          <label>Description</label>
        </div>
        <div class="col-md-12">
          <textarea  cols="30" rows="5" class="form-control"></textarea>
        </div>
      </div>

      <div class="row">
        <div class="col-md-4">
          <label>Status</label>
        </div>
        <div class="col-md-4">
          <select class="form-control">
            <option>--Select--</option>
            <option value="active">Active</option>
            <option value="inactive">Inactive</option>
            <option value="completed">Completed</option>
          </select>
        </div>
      </div>

      <div class="row">
        <div class="col-md-4">
          <label>Start Date</label>
        </div>
        <div class="col-md-8">
          <input type="date" class="form-control">
        </div>
      </div>

      <div class="row">
        <div class="col-md-4">
          <label>End Date</label>
        </div>
        <div class="col-md-8">
          <input type="date" class="form-control">
        </div>
      </div>

      <div class="row">
        <div class="col-md-6"></div>
        <div class="col-md-6 text-right">
          <button class="btn btn-lg btn-sm" style="margin-left: 2px;">List</button>
          <button class="btn btn-lg btn-sm" style="margin-left: 2px;">Add</button>
        </div>
      </div>
    </div>
  </div>
  <div class="col-md-4"></div>
</div>
