
<div class="row">
  <div class="col-md-2"></div>
  <div class="col-md-8">
    <h3>ToDo List</h3>
    <div class="outer-div">
      <div class="row">
        <div class="col-md-12">
          <table class="table table-bordered">
            <thead>
              <tr>
                <th>Sr No.</th>
                <th>Name</th>
                <th>Description</th>
                <th>Status</th>
                <th>Start Date</th>
                <th>End Date</th>
                <th>Action</th>
              </tr>
            </thead>
            <tbody>
              <ng-container *ngIf="listArr.length!=0">
                <tr *ngFor="let item of listArr; let sr = index">
                  <td>{{sr+1}}</td>
                  <td>{{item.Name}}</td>
                  <td>{{item.Description}}</td>
                  <td>{{item.Status}}</td>
                  <td>{{item.Start_Date}}</td>
                  <td>{{item.End_Date}}</td>
                  <td>
                    <span class="glyphicon glyphicon-pencil" (click)="onEdit(item)"></span>
                    <span class="glyphicon glyphicon-remove-sign" style="margin-left: 5px" (click)="onDelete(item)" ></span>
                  </td>
                </tr>
              </ng-container>
              <ng-container *ngIf="listArr.length==0">
                <tr>
                  <td colspan="7" class="text-center">No Data Available</td>
                </tr>
              </ng-container>
            </tbody>
          </table>
        </div>
      </div>
    </div>

  </div>
  <div class="col-md-2"></div>
</div>
